fastapi
uvicorn
pydantic
python-dotenv
sqlalchemy
openai
python-jose
passlib[bcrypt]
python-multipart
psycopg2-binary
pydantic[email]
boto3
supabase
vecs
beautifulsoup4
requests
# pinecone  # Removed
# azure-ai-formrecognizer # Removed
# azure-core # Removed
# duckduckgo-search # Removed